* {
    font-family: Helvetica;
}
header {
    background-color: #B3BC6D;
    color: white;
    text-align: center;
    padding: 5px;
}
section{
    background-color: #ffffce;
    color: olive;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
}
#lewy{
    background-color: #e6ee9c;
    width: 25%;
    height: 450px;
    text-align: center;
    float: left;
}
main{
    background-color: #FFFFCE;
    width: 50%;
    height: 450px;
    float: left;
}
#prawy{
    background-color: #e6ee9c;
    width: 25%;
    height: 450px;
    text-align: center;
    float: left;
}
footer {
    background-color: #B3BC6D;
    color: white;
    text-align: center;
    padding: 5px;
    float: none;
}
table{
    width: 1px;
    color: olive;
    margin: auto;
    width: 70%;
}
h2 {
    text-align: center;
}

#img{
    height: 100px;
    padding: 7px;
}
